.formContainer {
  display: flex;
}
.form{
  display: flex;
  gap: 12px;
}
.input {
  margin: 0;
  padding: 8px;
  height: 24px;
  width: 96;
  border-radius: 6px;
}

.button {
  background-color: red;
  color: #fff;
  border: none;
  cursor: pointer;
  height: auto;
  padding: 14px;
  border-radius: 6px;
}

button:hover {
  background-color: #0056b3;
}
